{% extends 'base.html.twig' %}

{% block title %}Deal Logs for Stock {{ stock.name }}{% endblock %}

{% block body %}
    <div>
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ asset('javascript/mychart.js') }}"></script>
    <script>
        const ctx = document.getElementById('myChart');

        renderChart(
            ctx,
            {{ deal_logs|map(dl => dl.timestamp|date("d-m-Y H:i:s"))|json_encode|raw }},
            {{ deal_logs|map(dl => dl.price)|json_encode }},
            'Stock price changes'
        );
    </script>
{% endblock %}
